header{
    border: solid;
    height: 200px;
    background-color: rgb(78, 222, 109);
    flex-basis: 45%;
    display: flex;
    margin: 15px;
}
main{
    border: solid;
    height: 200px;
    background-color: rgb(149, 21, 154);
    flex-basis: 45%;
    margin: 15px;
}
footer{
    border: solid;
    height: 200px;
    background-color: rgb(3, 9, 13);
    flex-basis: 45;
    margin: 15px;
}
